html {
    font-size: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --theme1: #009A9D;
    --theme2: #17B1B4;
    --theme3: #87CCCD;
    --theme4: #D6EBEC;
    --textColor1: #000000;
    --textColor2: #FFFFFF;
    --borderColor1: #FFFFFF;
    --borderColor2: lightgrey;
    --buttonColor: #80cdce;
    --fragmentColor: #4cb3b5;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 9.5% auto 9.5%;
    grid-template-columns: repeat(10, 10%);
    margin: 0;
    padding: 0;
    background-color: var(--theme1);
    color: var(--textColor1);
}

main {
    grid-area: 2/1/3/11;
    padding-top: 3%;
    overflow: auto;
    background-color: var(--theme4);
    font-size: 1.0rem;
}

a {
    color: var(--textColor1);
    text-decoration: none;
    display: block;
}

button {
    color: var(--textColor1);
    text-decoration: none;
    display: block;
}
main h3 {
    text-align: center;
}

.noDisplay {
    display: none;
}

.hidden {
    visibility: hidden;
}

.inAppPDF {
    height: 100%;
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 3% 0 3%;
}

.definition {

}

.navParentJS {

}

#colors {
    display: none;
}

#searchBox {
    display: none;
    height: 100%;
    width: 100%;
}

.searchMain {
    text-align: center;
}

.search {
    text-align: center;
}

.antibiotic {
    margin-bottom: 0;
    padding-bottom: 0;
}

.AB_ListSection {
    text-align: center;
}

ellipse {
    fill: #FFFFFF;
}

.infoButton {
    height: 6vh;
    width: 100%;
    text-align: center;
}

#infoBox {
    background-color: var(--theme4);
    padding: 2% 2% 2% 2%;
    border-radius: 3%;
    display: none;
    grid-area: 2/2/3/10;
    margin: 3% 0 3% 0;
    z-index: 3;
    overflow: auto;;
}

#infoBoxContent {
    height: 90%;
    width: 100%;
    margin: 0 0 10% 0;
    overflow: auto;
    text-align: center;
}

#infoBoxButton {
    background-color: var(--theme2);
    border-radius: 5%;
    width: 30%;
    margin: 0 35% 2% 35%;
    text-align: center;
}

.directlink {
    background-color: var(--theme2);
    display: inline;
}

.pdfLoader {
    background-color: var(--theme2);
    display: inline;
}

/*------------------------------*/
/*--------  Startpages  --------*/
/*------------------------------*/

.startHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

.startTitle {
    padding: 0;
    height: 100%;
    margin: 0 15% 0 15%;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
}

.switchStartButtonLeft {
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    background-color: var(--buttonColor);
}

.switchStartButtonRight {
    transform: scale(-1,1);
    margin: 0;
    padding: 0;
    width: 10%;
    height: 100%;
    background-color: var(--buttonColor);
}

.firstButton {
    margin: 5% 0 0 0;
}


/*------------------------------*/
/*-----  Color Selection  ------*/
/*------------------------------*/

.colorSettings {
    height: 100%;
    width: 100%;
}

.colorSelectionSection {
    width: 100%;
    height: 5%;
    padding: 0.5vh 1vw 0.5vh 1vw;
}

.colorSelectionRadio {
    margin: 40% 2% 40% 5%;
}

.colorSelectionParagraph {
    display: inline;
}

.colorSelectionDiv {
    float: right;
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px black solid;
}

.colorSelectionSub {
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

/*------------------------------*/
/*---------  by Group  ---------*/
/*------------------------------*/

.byGroupP1 {
    margin: 5% 2% 5% 2%;
    width: 96%;
    font-size: 1.0rem;
}

.byGroupButton {
    margin: 0 0 5% 0;
    padding: 1% 0 1% 0;
    width: 100%;
    background-color: var(--theme2);
    font-size: 1.0rem;
    border: 5px var(--theme4) solid;
}

.byGroupSection p {
    margin: 0 0 5% 0;
    padding: 0 0 3% 0;
    width: 100%;
    text-align: center;
}

.byGroupTable {
    width: 100%;
}

.byGroupTable > tr {
    border: 1px var(--theme2) solid;
}

/*------------------------------*/
/*------  Fragment Area  -------*/
/*------------------------------*/

.fragmentWrapper {
    margin: 5% 5% 5% 5%;
    width: 90%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 70% 15%;
    text-align: center;
}

.fragmentDiv {
    grid-area: 1/2/1/3;
    margin: 0 0 0 0;
    justify-content: center;
    align-items: center;
    background-color: var(--theme4);
}

.fragmentParagraph {
    font-size: 1.0rem;
}

.fragmentSwitcherLeft {
    display: none;
    flex-direction: column;
    justify-content: center;
    grid-area: 1/1/1/2;
    margin: 0;
    background-color: var(--fragmentColor);
    opacity: 0.7;
}

.fragmentSwitcherRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 1/3/1/4;
    margin: 0;
    background-color: var(--fragmentColor);
    opacity: 0.7;
}



/*------------------------------*/
/*----------  Menus  -----------*/
/*------------------------------*/

section > .navException {
    width: 90%;
    margin: 0 5% 0 5%;
}

.navButton {
    padding: 3% 2% 3% 2%;
    width: 100%;
    border: 2px solid;
    border-color: var(--borderColor1) var(--borderColor2) var(--borderColor2) var(--borderColor1);
    box-shadow: 0 0;
    background-color: var(--theme2);
    display: block;
    text-align: center;
    font-size: inherit;
}

.subMenu1 .navButton {
    background-color: var(--theme3);
}

.subMenu2 .navButton {
    background-color: var(--theme2);
}

.text {
    font-size: 1.0rem;
    margin: 0 2% 0 2%;
    padding-bottom: 3vh;
}

.subMenu1 {
    margin: 0 0 0 5%;
    width: 95%;
    font-size: 1.0rem;
}

.subMenu2 {
    margin-left: 10%;
    width: 90%;
    font-size: 1.0rem;
}


/*------------------------------*/
/*------ Navigation menu -------*/
/*------------------------------*/

nav {
    display: none;
    grid-area: 2/1/3/6;
    margin: 0 0 10% 0;
    padding: 10% 0 0 0;
    z-index: 3;
    overflow: auto;
    width: 100%;
    background-color: var(--theme2);
}

.menuButton {
    width: 96%;
    border-radius: 20%;
    border: 2px solid var(--theme3);
    outline: none;
    background-color: var(--theme4);
    opacity: 1.0;
    font-size: 1.1rem;
    text-align: center;
    margin: 2% 2% 2% 2%;
}


#cover {
    display: none;
    grid-area: 2/1/3/11;
    z-index: 2;
    background-color: var(--theme3);
    opacity: 0.7;
}

/*------------------------------*/
/*-----Top and bottom lines-----*/
/*------------------------------*/

header {
    grid-area: 1/1/2/11;
    position: static;
    background-color: var(--theme1);
    background-size: cover;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    grid-area: 3/1/4/11;
    position: static;
    background-color: var(--theme1);
    background-size: cover;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headFootButton {
    height: 100%;
    width: 15%;
    text-align: center;
}


#title {
    margin: 0 0 0 0;
    font-size: 1.5rem;
    color: var(--textColor2);
}

#search {
}

.buttonFill {
    fill: var(--buttonColor);
    stroke: var(--buttonColor);
}

.buttonStrokeFill {
    stroke: var(--buttonColor);
}

.inactive {
    padding: 3% 2% 3% 2%;
    width: 100%;
    border: 2px solid grey;
    box-shadow: 0 0;
    background-color: grey;
    display: block;
    text-align: center;
    font-size: inherit;
}

.subMenu1 .inactive {
    background-color: grey;
}

.cave {
    text-align: center;
    font-size: 1.5rem;
}


.levofloxacin_PO {
}

.ampicillinSulbactam_IV {
}

.piperacillinTazobactam_IV {
}

.meropenem_IV {
}

.amoxicillinClavulansaeure_PO {
}

.clarithromycin_PO{
}

.levofloxacinIV{
}

.tobramycin{
}

.penicillinG_IV{
}

.ceftazidim_IV{
}

.linezolid_IV{
}

.linezolidPO{
}

.trimethoprimSulfamethoxazol{
}

.ganciclovir {
}

.aciclovir {
}

.fluconazol {
}

.voriconazol {
}

.amphotericinB {
}

.caspofungin_IV {
}

.ethambutol_PO {
}

.rifabutin_PO {
}

.azithromycin {
}

.penicillinV_PO {
}

.clindamycin_IV {
}

.clindamycin_PO {
}

.metronidazol_IV {
}

.metronidazol_PO {
}

.cefazolin_IV {
}

.cefaclor_PO {
}

.cefuroxim_IV {
}

.ceftriaxon_IV {
}

.tigecyclin_IV {
}

.vancomycin_IV {
}

.flucloxacillin_IV {
}

.rifampicin_PO {
}

.rifampicin_IV {
}

.ciprofloxacin {
}

.cotrimoxazol_PO {
}

.gernebcin_IV {
}

.ampicillin_IV {
}

.gentamicin_IV {
}

.amoxicillin_PO {
}

.doxycyclin {
}

.fosfomycin {
}

.voriconazol {
}

.pivmecillinam_PO {
}

.nitrofurantoin_PO {
}

.erythromycin {
}

